@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Peliculonas</h1>
    <p>Este es un catalogo de peliculas en el que podras agregar nuevas y poner reseñas</p>
</div>
